<div class="row">
    <div class="col-md-6">
        <a href="../Usuario/Login" type="button" class="btn btn-primary btn-block">ENTRAR</a>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-success btn-block">REGISTRAR</button>
    </div>
</div>