<h3>Menu</h3>

<div id="menu" class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="../Conta">
                <img src="~/images/conta.png" />
                <h3>Criar Conta</h3>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="../PlanoConta">
                <img src="~/images/planocontas.png" />
                <h3>Plano de Contas</h3>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="../Transacao">
                <img src="~/images/registrar_transacao.png" />
                <h3>Registrar Transação</h3>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 text-center">
            <a href="../Transacao/Extrato">
                <img src="~/images/extrato.png" />
                <h3>Extrato</h3>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="../Transacao/Dashboard">
                <img src="~/images/dashboard.png" />
                <h3>Dashboard</h3>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="../Home/Ajuda">
                <img src="~/images/ajuda.png" />
                <h3>ajuda</h3>
            </a>
        </div>
    </div>
</div> 